@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main {
  font-family: Montserrat, sans-serif;
}

.teacher-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 2px solid transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  transition: 0.3s;
  width: 700px;
  height: 100%;
  min-height: 250px;
  margin-bottom: 12px;
  border-radius: 12px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

.teacher-header {
  display: flex;
  gap: 16px; 
}

.buttons {
  display: flex;
  gap: 2px;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  
}

.teacher-card:hover {
  border-color: #03BFCB; 
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2); 
  cursor: pointer;
}

.teacher-card-wrapper {
  position: relative;
  display: inline-block;
}

.video-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 46%;
  width: 350px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease;
  z-index: 100;
}

.teacher-card-wrapper:hover .video-preview {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.video-preview iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.teachers-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 120px;
}

.teacher-image img {
  border: 1px solid #03BFCB;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 5px;
}

.teacher-image{
  height: 50%; 
  overflow: hidden;
  display: flex;
  padding-top: 10px;
  margin: 10px;
}

.teacher-content {
  display: flex;
  flex-direction: column; 
  padding-top: 5px;
  margin: 10px 0;
  margin-top: 15px;
  gap: 4px;
}


.subject,
.teacher-staj {
  margin: 0;
  padding: 0;
}

.teacher-username {
  display: flex;
  gap: 10px;
}

.teacher-username i {
  margin-top: 10px;
}

.teacher-username p {
  font-size: 22px;
}

.teacher-content p {
  text-transform: uppercase;
}

.subject i {
  font-size: 10px;
  margin-right: 5px;
  margin-top: 4px;
}

.subject p {
  font-size: 13px;
}

.subject {
  display: flex;
}

.teacher-content h3 {
  margin-bottom: 8px;
}

.teacher-bio-card {
  width: 300px;
}

.toggle-bio-btn {
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
}

.toggle-bio-btn:hover {
  text-decoration: underline;
}

.teacher-bio-card p{
  font-size: 12px;
}

.teacher-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 74px;
}

.review, .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: bold;
}

.review-count span {
  font-size: 12px;
  color: #777; /* чтобы немного сдвинуть под рейтинг */
}

.price-main {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: bold;
}

.price-note span {
  font-size: 12px;
  color: #777; /* смещение под цену */
}

.teacher-price p {
  font-size: 13px;
  font-weight: 200;
}

.teacher-staj {
  display: flex;
}

.teacher-staj i {
  font-size: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

.teacher-staj p {
  font-size: 13px;
}


/* From Uiverse.io by Mhyar-nsi */ 
.teacher-button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 145px;
  height: 45px;
  transition: 0.3s;
  margin-bottom: 10px;
}

.teacher-button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

/* FILTER BAR */

.filter-container {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  width: 1425px;
  height: 100%;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 10px;
  margin: 0 auto 12px auto;
}

.filter-container h1 {
  padding: 10px;
}

.filter-block {
  display: flex;
  flex-direction: column;
}



.filter-blocks {
  display: flex;
  gap: 30px;
  margin-left: 20px;
}

.filter-search-button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 120px;
  height: 45px;
  transition: 0.3s;
  margin-bottom: 10px;
}

.filter-search-button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.button-position {
  margin-top: 20px;
  margin-left: 20px;
}

/* slider */

#price-slider {
  margin-top: 1rem;
  height: 6px;
  width: 190px;
  top: 21px;
}

.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

#price-slider .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #26A69A;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Маленький треугольник под тултипом */
.noUi-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #26A69A transparent transparent transparent;
}

/* Показывать тултип только при фокусе или активном состоянии */
.noUi-handle:active .noUi-tooltip,
.noUi-handle:focus .noUi-tooltip {
  opacity: 1;
}

